{% include 'transito\partials\head.html' %}

<body>

    <h1>Bicicletas</h1>
    
    <div class="container-bicicleta">
        <div class="container-link">
            <p class="bicicletas">
            Para retirada de bicicleta apreendida encaminhe email para:
            </p>
            <a href="" class="link-bicicleta">nucleodetransito@leme.sp.gov.br</a>
        </div>
            <p class="bicicletas">
            Será encaminhado via email todas as informações para o procedimento de retirada.
            </p>
    </div>
    <br>

    {% include 'transito\partials\footer.html' %}
    </body>