{% include 'transito\partials\head.html' %}

<body>
    {% include 'transito\partials\slider.html' %}

    <div id="container-menu">
        <ul id="cont-lista-menu">
            <li class="lista-menu"><a href="{% url 'multas' %}" class="link-menu">Multas</a></li>
            <li class="lista-menu"><a href="{% url 'vagas_especiais' %}" class="link-menu">Vagas Especiais</a></li>
            <li class="lista-menu"><a href="{% url 'bicicletas' %}" class="link-menu">Bicicletas</a></li>
            <li class="lista-menu"><a href="{% url 'zona_azul' %}" class="link-menu">Zona Azul</a></li>
            <li class="lista-menu"><a href="{% url 'interd' %}" class="link-menu">Interdições</a></li>
            <li class="lista-menu"><a href="{% url 'lombadas' %}" class="link-menu">Lombadas</a></li>
            <li class="lista-menu"><a href="{% url 'sinalizacao'%}" class="link-menu">Sinalização</a></li>
        </ul>
    </div>

    <!--NOTICIAS-->

<h1 class="noticia">Notícias</h1>

<section id="noticia">
        <div class="noticia-text">
            <div class="titulo-noticia">

            </div>
        </div>

        <div class="noticia-text">
            <div class="titulo-noticia">
            
            </div>
        </div>

        <div class="noticia-text">
            <div class="titulo-noticia">
            
            </div>
        
        </div>
    </div>

</section>
<br>
<br>
<br>
<!-- FIM NOTICIAS-->

    {% include 'transito\partials\footer.html' %}

</body>

</html>