{% include 'transito\partials\head.html' %}

<body>
<h1>Interdições</h1>
<div class="container-interdicao">
    <p class="txt-int-interd">Para solicitar a interdição é necessário preencher o <strong>Requerimento para Interdição de Via Pública.</strong></p>
    <div class="cont-link-interd">
        <p class="txt-interd-requerimento">Para baixar o requerimento:</p>
        <a id="int-link" href="">Clique aqui</a>
    </div>
    <p class="txt-int">Preencher todos os campos do requerimento.</p>
    <p class="txt-int">O protocolo não caracteriza que o requerimento foi DEFERIDO, somente terá efeito com a expedição da AUTORIZAÇÃO ao requerente,<br> que deverá ser retirado no Núcleo de Trânsito, de segunda à sexta-feira das 08h às 16h.</p>
    <p class="txt-int">A interdição e a liberação da via será realizada no horário deste requerimento pelos funcionários do setor, NÃO PODE SER ESTENDIDO.</p>
</div>

{% include 'transito\partials\footer.html' %}
</body>