{% include 'transito\partials\head.html' %}

<body>

    <h1>Lombadas</h1>
    
    <div class="container-lombada">
        <p class="titulo-lombada"><strong>Implantação de lombadas.</strong></p>
        <p class="txt-lombada">Para solicitar a implantação de lombadas, deverá ser preenchido o <strong>Requerimento para Implantação de Redutor de Velocidade.</strong></p>
        <p class="txt-lombada"> Quando possível juntar assinatura dos moradores do trecho no local da instalação.</p>
        <p class="txt-lombada"> Importante o preenchimento correto do local da implantação, bem como os dados e assinatura dos moradores que autorizarão a lombada defronte sua residência.</p>
        <p class="txt-lombada">O protocolo não caracteriza que o requerimento foi DEFERIDO, será realizado uma verificação do local, e estudo técnico para verificar a viabilidade da implantação.</p>
        <p class="txt-lombada">Caso seja constatado a necessidade da implantação, é preciso aguardar a disponibilidade de material (massa asfaltica) para confecção, o que pode demorar devido demandas de serviços.</p>
        <div class="cont-requerimento">
            <p class="txt-requerimento"> Para baixar o requerimento:</p>
            <a class="link-requerimento" href="">Clique aqui.</a>
        </div>
    </div>
    
    <div class="container-lombada">
        <p class="titulo-lombada"><strong>Retirada de lombadas.</strong></p>
        <p class="txt-lombada">Para solicitar a retirada de lombadas, deverá ser preenchido o <strong>Requerimento para Retirada de Redutor de Velocidade.</strong></p>
        <p class="txt-lombada"> Quando possível juntar assinatura dos moradores do trecho no local da instalação.</p>
        <p class="txt-lombada"> Importante o preenchimento correto do local da implantação, bem como os dados e assinatura dos moradores que autorizarão a lombada defronte sua residência.</p>
        <p class="txt-lombada">O protocolo não caracteriza que o requerimento foi DEFERIDO, será realizado uma verificação do local, e estudo técnico para verificar a viabilidade da retirada.</p>
        <p class="txt-lombada">Caso seja constatado a necessidade da implantação, é preciso aguardar a disponibilidade de material (massa asfaltica) para confecção, o que pode demorar devido demandas de serviços.</p>
        <div class="cont-requerimento">
            <p class="txt-requerimento"> Para baixar o requerimento:</p>
            <a class="link-requerimento" href="">Clique aqui.</a>
        </div>
    </div>
    {% include 'transito\partials\footer.html' %}
    </body>