{% include 'transito\partials\head.html' %}

<div id="container-menu">
    <ul id="cont-lista-menu">
        <li class="lista-menu"><a href="" class="link-menu">Multas</a></li>
        <li class="lista-menu"><a href="" class="link-menu">Vagas Especiais</a></li>
        <li class="lista-menu"><a href="" class="link-menu">Bicicletas</a></li>
        <li class="lista-menu"><a href="" class="link-menu">Zona Azul</a></li>
        <li class="lista-menu"><a href="" class="link-menu">Interdições</a></li>
        <li class="lista-menu"><a href="" class="link-menu">Lombadas</a></li>
        <li class="lista-menu"><a href="" class="link-menu">Sinalização</a></li>
    </ul>
</div>

</body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% include 'transito\partials\footer.html' %}