{% include 'transito\partials\head.html' %}

<body>

    <h1>Sinalizações</h1>
    <div class="container-sinalizacao">
        <p class="sinalizacao">Para solicitação de qualquer tipo de sinalização, encaminhar para o email:<strong> nucleodetransito@leme.sp.gov.br</strong></p>
    </div>
        
    {% include 'transito\partials\footer.html' %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>
