{% include 'transito\partials\head.html' %}

<div class="container">
    <h1>Cartão Idoso</h1>
    <p class="cont-text">O Cartão de Estacionamento para Idoso é um documento essencial que concede benefícios aos cidadãos idosos. Emitido por órgãos de trânsito, permite estacionar em vagas especiais próximas a locais de grande circulação. Além da comodidade, promove a inclusão social, facilita o acesso a estabelecimentos e aumenta a segurança. Essa iniciativa valoriza a autonomia dos idosos, incentivando sua independência e vida ativa. É crucial que as vagas sejam corretamente sinalizadas e fiscalizadas para garantir o cumprimento adequado do benefício. Respeitar e valorizar essa medida é reconhecer a contribuição e experiência dos idosos na sociedade.</p>

    <button class="btn-card"><a class="link-card" href="{% url 'cartaoidoso' %}">Clique aqui para solicitar</a></button>

</div>

<div class="container">
    <h1>Cartão pessoas com Deficiência</h1>
    <p class="cont-text"> O Cartão de Estacionamento para Pessoas com Deficiência é uma medida essencial que proporciona benefícios a indivíduos com mobilidade reduzida. Emitido por órgãos de trânsito, permite o estacionamento em vagas reservadas, próximas a locais de acesso público. Além da comodidade, promove a inclusão social, facilita a locomoção e a participação em atividades cotidianas. Essa iniciativa valoriza a autonomia das pessoas com deficiência, garantindo-lhes maior independência e acesso a serviços essenciais. É fundamental que as vagas sejam adequadamente sinalizadas e fiscalizadas para assegurar o cumprimento correto do benefício. Respeitar e apoiar essa medida é reconhecer os direitos e contribuições das pessoas com deficiência na sociedade.</p>
    <button class="btn-card"><a class="link-card" href=" ">Clique aqui para solicitar</a></button>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% include 'transito\partials\footer.html' %}