
{% include 'transito\partials\head.html' %}

<h1>Zona Azul</h1>

<div class="container-zona">
    <p class="titulo-zona">Valores e Períodos a partir do dia 17 de Janeiro de 2022:</p>
    <ul class="lista-preco">
        <li class="preco">30 minutos - R$1,05</li>
        <li class="preco">60 minutos - R$2,10</li>
        <li class="preco">120 minutos - R$4,20</li>
    </ul>
    
    <p class="titulo-zona">Tolerância:</p>
    <p class="txt-zona">O usuário possui tolerância de 10 minutos para a aquisição de tíquete nos pontos de venda ou parquímetros e 10 minutos para renovação do mesmo desde que não ultrapasse o período máximo de 2 horas na mesma vaga, além de contar com a comodidade e praticidade disponível para aquisição do tíquete via <strong> App Digipare,</strong> disponível smartphones com sistemas Android ou IOS.</p>

    <p class="titulo-zona">Leme conta hoje com 1286 vagas de estacionamento rotativo Zona Azul distribuídas da seguinte forma.</p>
    <ul class="lista-vagas">
        <li class="vagas"> São 1192 vagas disponíveis nas principais ruas e avenidas da região central, a fim de facilitar o estacionamento de veículos em via pública, de forma organizada e pratica, aumentando a circulação da população na região central e melhorando assiduamente a qualidade de vida e as vendas no comércio local.</li>
        <li class="vagas">Dentro da área do Estacionamento Rotativo, <strong>existem 72 vagas disponíveis para idosos devidamente identificadas, os mesmos possuem 30 minutos de tolerância para aquisição do tíquete,</strong> é obrigatória a utilização do cartão do idoso, dentro da validade e em via original no painel do veículo estacionado.</li>
        <li class="vagas">Dentro da área do Estacionamento Rotativo, existem 34 vagas disponíveis para pessoas com deficiência devidamente identificadas,<strong> os mesmos são isentos do pagamento de tarifas,</strong> porém com apresentação obrigatória do cartão de deficiente físico em via original no painel do veículo estacionado.</li>
    </ul>

    <p class="titulo-zona">Informação sobre Notificação:</p>
    <p class="txt-zona">O Aviso de Irregularidade de Transito do estacionamento rotativo municipal zona azul, <strong> o mesmo possui prazo de 3 dias para regularização do Aviso de Infração</strong> junto a central de atendimento do munícipio pagando o valor de R$ 12,00. Caso a regularização não seja efetuada, acarretará multa no valor de R$ R$ 195,23 e 5 pontos na CNH..</p>

    <p class="txt-zona">A Zona Azul Brasil desenvolve trabalho social ativo na cidade de Leme – SP, onde realiza participação financeira colaborativa repassando parte da renda ao COMAS. Junto ao Conselho Municipal da Assistência Social – COMAS, do Município de Leme, o qual foi instituído pela Lei Municipal Complementar nº 176, de 26.04.1996, Lei Complementar nº 187 de 13/11/1996 e Lei Complementar nº 558 16/12/2009, revogadas pela Lei Municipal Complementar nº 661 de 27 de junho de 2013.</p>

    <p class="txt-zona">
        O COMAS se constitui em Órgão colegiado do sistema descentralizado e participativo da Assistência Social do Município, com caráter deliberativo, normativo, fiscalizador e permanente de composição paritária entre Poder Público e Sociedade Civil, vinculado à Secretaria de Assistência e Desenvolvimento Social – SADS.
    </p>

    <p class="titulo-zona-contato">Site Zona Azul:</p>
    <a href="https://zonaazulbrasil.com.br/leme/" class="link-site">www.zonaazulbrasil.com.br/leme</a>
    <ul class="lista-contato">
        <li class="contato">Email:contato@zonaazul.com.br</li>
        <li class="contato">Telefone:(19) 3555-3155</li>
        <li class="contato">Rua: Dr querubino Soeiro, 143 - Centro. Leme-SP.</li>
    </ul>
</div>
{% include 'transito\partials\footer.html' %}

<script>
    const toogleBtn = document.querySelector('.toogle-btn')
const toogleBtnIcon = document.querySelector('.toogle-btn i')
const dropDownMenu = document.querySelector('#container-dropdown')

toogleBtn.onclick = function(){
    dropDownMenu.classList.toggle('open')
    const isOpen = dropDownMenu.classList.contains('open')

    toogleBtnIcon.classList = isOpen
    ?"fa-solid fa-xmark"
    :"fa-solid fa-bars"
}
</script>

</body>