@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
    
    font-family: 'Roboto', sans-serif;
}


/*inicio deficiente*/

h1 {
    margin: 2rem auto;
    text-align: center;
}
.container-dados {
    display: flex;
    font-size: 1.2rem;
    gap: 3rem;
    justify-content: center;
}
.container-item {
    display: flex;
    flex-direction: column;
}

.inp-info {
    font-size: 1.2rem;
    padding: 5px;
    width: 30rem;
    border-radius: 5px;
}

.inp-endereco {
    font-size: 1.2rem;
    padding: 5px;
    width: 30rem;
    border-radius: 5px;
}

.opcao-sex {
    display: flex;
    gap: 2rem;
}
.masc, .fem {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 2rem;
}

.boxsex {
    width: 20px;
    height: 20px;
}

/*INPUT ARQUIVOS DOCUMENTOS*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 1.2rem;
}

.box {
    max-width: 500px;
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
    border:1px solid  #474747;
}

.upload-area-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.uploadlabel {
    width: 100%;
    min-height: 100px;
    background: #18a7ff0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #807f7f;;
    cursor: pointer;
}

.uploadlabel span {
    font-size: 70px;
    color: #ffc118;
}

.uploadlabel p {
    color: #1A1A1B;
    font-size: 20px;
    font-family: 'roboto';
}

.uploaded {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
}

.showfilebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    border: 1.5px solid #807f7f;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #807f7f;
}

.showfilebox .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filetype {
    background: #ffc118;
    border: 2px solid  #1A1A1B;
    color: #1A1A1B;
    padding: 5px 15px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
}

.left h3 {
    font-weight: 600;
    font-size: 0.8rem;
    color: #292f42;
    margin: 0;
}

.cloud {
    border: 2px solid #1A1A1B;
    background-color: #ffc118;
    border-radius: 5px;
}

.right span {
    background: #ffc118;
    color: #1A1A1B;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #1A1A1B;
}

/* FIM INPUT ARQUIVOS DOCUMENTOS*/

/*fim deficiente*/

/*ESCOLHA REPRESENTANTE*/

.txt-rep {
    text-align: center;
}

.representante {
    text-align: center;
    margin-bottom: 0.2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.cont-opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opcoes2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cont-escolha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.box-esc {
    width: 1.2rem;
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
}

/* FIM ESCOLHA REPRESENTANTE*/

.container-representante {
    display: flex;
    font-size: 1.2rem;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}
/*informações medicas*/

.cont-info-med {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.box-med {
    width: 30rem;
    font-size: 1.2rem;
}

.info-medico {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto'sans-serif;
    font-size: 1.2rem;
    
}

.box-med {
    width: 30rem;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.box-med2 {
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

#medico-paragrafo {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

#def-ambulatorial {
    list-style: none;
    font-size: 1.2rem;
}


.cont-lista-amb {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.cont-lista {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.check-def {
    width: 20px;
    height: 20px;
}

.content-assinalar {
    width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 20px;
}

#tempo_def {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 0.2rem;
}

.content-textarea {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

#text-cid {
    width: 70%;
    text-indent: 20px;
    font-size: 1.2rem;
    border-radius: 5PX;
    resize: vertical;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 1rem;
}

.txt-deficiencia, .p-info-def {
    text-align: center;
    font-size: 1.2rem;
}

.cont-btn {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button {
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 20px;
    border: 3px solid #1A1A1B;
    cursor: pointer;
}

.btn-env {
    background-color: #ffc118;
}

.btn-limp {
    background-color: #a5a5a5;
}