main {
    /*background-color: aqua;*/
    width: 1400px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
.p-info {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

label {
    font-size: 1.2rem;
}

input {
    width: 30rem;
    font-size: 1.2rem;
    border: 2px solid #1A1A1B;
    border-radius: 5px;
    text-indent: 10px
}
.p-info {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.container-cartao {
    margin: 0 auto;
    width: 80%;
    background-color: #D6D6D6;
    padding: 10px;
    border-radius: 10px;
}

/*INFO IDOSO*/

.cont-info {
    display: flex;
    gap: 60px;
    justify-content: center;
    
}

.info-idoso {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
}

.cont-idoso {
    display: flex;
    flex-direction: column;
    margin-bottom:0.5rem;
    
}

.cont-sexo {
    display: flex;
}

.opcao-sex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
}

.masc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}
.fem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}


.boxsex {
    width: 20px;
    height: 20px;
}

.endereco {
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    
}

.cont-end {
    display: flex;
    flex-direction: column;
    margin-bottom:0.5rem;;
}

.p-info2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/*INPUT ARQUIVOS DOCUMENTOS*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 1.2rem;
}

.box {
    max-width: 500px;
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
    border:1px solid  #474747;
}

.upload-area-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.uploadlabel {
    width: 100%;
    min-height: 100px;
    background: #18a7ff0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #807f7f;;
    cursor: pointer;
}

.uploadlabel span {
    font-size: 70px;
    color: #ffc118;
}

.uploadlabel p {
    color: #1A1A1B;
    font-size: 20px;
    font-family: 'roboto';
}

.uploaded {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
}

.showfilebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    border: 1.5px solid #807f7f;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #807f7f;
}

.showfilebox .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filetype {
    background: #ffc118;
    border: 2px solid  #1A1A1B;
    color: #1A1A1B;
    padding: 5px 15px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
}

.left h3 {
    font-weight: 600;
    font-size: 0.8rem;
    color: #292f42;
    margin: 0;
}

.cloud {
    border: 2px solid #1A1A1B;
    background-color: #ffc118;
    border-radius: 5px;
}

.right span {
    background: #ffc118;
    color: #1A1A1B;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #1A1A1B;
}

/* FIM INPUT ARQUIVOS DOCUMENTOS*/

/*REPRESENTANTE*/

.txt-rep{
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}



/*ESCOLHA REPRESENTANTE*/

.cont-opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opcoes2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cont-escolha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.box-esc {
    width: 1.2rem;
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
}

/* FIM ESCOLHA REPRESENTANTE*/

/*FORM REPRESENTANTE*/

.txt-representante {
    margin-top: 1.2rem;
}

.section-rep {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.info-rep {
    display: flex;
    flex-direction: column;
}

.info-cep-rep {
    display: flex;
    flex-direction: column;
}


/*INFORMAÇÃOES ADCIONAIS*/

.adcional-info {
    margin-bottom: 1rem;
}

.lbl-adc {
    margin-left: 20rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.ul-list {
    list-style: none;
    margin-left: 22rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.ul-list {
    margin-bottom: 2rem;
}

/*FIM FORM REPRESENTANTE*/

.cont-btn {
    text-align: center;
}

button {
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 20px;
    border: 3px solid #1A1A1B;
    cursor: pointer;
}

.btn-env {
    background-color: #ffc118;
}

.btn-limp {
    background-color: #a5a5a5;
}