@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 1rem 18rem;
}

.container-condutor {
    border: 1px solid #1A1A1B;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 20px;
    border-radius: 8px;
}

.txt-condutor {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.cont-txt-cond {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

.cont-link {
    text-align: center;
}

.link-condutor {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #1A1A1B;
    text-decoration: none;

}

.cont-link {
    width: 250px;
    background-color: #ffc118;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
    margin: 0.5rem 0;
    border: 3px solid transparent;
}
.cont-link:hover {
    border: 3px solid #1A1A1B;
}

.container-recurso {
    border: 1px solid #1A1A1B;
    width: 70%;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.container-ait {
    border: 1px solid #1A1A1B;
    width: 70%;
    margin: 1rem auto;
    border-radius: 8px;
    padding: 20px;
}

.lista-doc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    list-style: none;
}

.ait {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.txt-recurso {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

