#servicos-content {
    border: 1px solid #1A1A1B;
    margin: 2rem auto;
    width: 70%;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
}

.p-servicos{
    padding: 10px;
}

.lista-servicos {
    margin-top: 0.5rem;
    margin-left: 3rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
}