@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*INICIO HEADER*/

header {
    height: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ccc;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
    font-family: 'Roboto', sans-serif;
}

#img-logo {
    width: 201.6px;
    height: 46.20px;
}

#img-brasao {
    width: 55.2px;
    height: 68.8;
}

#container-brasao {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#container-img {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#container-cabecalho {
    display: flex;
}

#lista-cabecalho {
    display: flex;
    gap: 2rem;
    list-style: none;
}

#item-cabecalho {
    padding: 5px 10px;
    border-radius: 5px;
}

#item-cabecalho:hover {
    background-color: #ffc118;
    padding: 5px 10px;
}

#link-cabecalho {
    color: #1A1A1B;
    text-decoration: none;
}

.toogle-btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*DROPDOWN*/

#container-dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 65px;
    height: 0;
    width: 250px;
    background: rgba(92, 91, 91, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 8px;
    /*border: 1px solid rgba( 200, 200, 200, 1 );*/
    overflow: hidden;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#container-dropdown.open {
    height: 250px;
    border:  2px solid #636363;
}

#container-dropdown {
    display: flex;
    flex-direction: column;
    top: 5rem;
}

#item-dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#lista-dropdown {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

#link-dropdown {
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #1A1A1B;
    text-decoration: none;
}

#link-dropdown:hover {
    background-color: #ffc118
}

/*FIM DROPDOWN*/

/*FIM HEADER*/

.container-zona {
    width: 70%;
    margin: 1rem auto;
    border: 1px solid #1A1A1B;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 1rem 18rem;
}

.titulo-zona {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.txt-zona {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

.lista-preco {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.lista-vagas {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.titulo-zona-contato {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.lista-contato {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.link-site {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #1A1A1B;
    background-color: #ffc118;
    padding: 5px 10px;
    border-radius: 5px;
    border: 3px solid transparent;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
}

.link-site:hover {
    border: 3px solid #1A1A1B ;
}

/*FOOTER*/
footer {
    background-color: #1A1A1B;
    height: 70px;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#cont-coordenadoria {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*RESPONSIVE DESIGN*/

@media (min-width: 951px) {
    #container-dropdown {
        display: none;
    }
}

@media (max-width: 950px){
    #container-brasao {
        display: none;
    }

    #container-cabecalho {
        display: none;
    }

    .toogle-btn {
        display: block;
    }

    #container-dropdown {
        display: block;
    }

}

@media (max-width: 600px){

    .container-zona {
        border: none;
    }

    #container-dropdown {
        display: block;
        width: 90%;
    }

    #img-foot {
        display: none;
    }

    #txt-coordenadoria {
        display: none;
    }

}
