@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-zona {
    width: 70%;
    margin: 1rem auto;
    border: 1px solid #1A1A1B;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 1rem 18rem;
}

.titulo-zona {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.txt-zona {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

.lista-preco {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.lista-vagas {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.titulo-zona-contato {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.lista-contato {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.link-site {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #1A1A1B;
    background-color: #ffc118;
    padding: 5px 10px;
    border-radius: 5px;
    border: 3px solid transparent;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
}

.link-site:hover {
    border: 3px solid #1A1A1B ;
}



/*RESPONSIVE DESIGN*/

@media (min-width: 951px) {
    #container-dropdown {
        display: none;
    }
}

@media (max-width: 950px){
    #container-brasao {
        display: none;
    }

    #container-cabecalho {
        display: none;
    }

    .toogle-btn {
        display: block;
    }

    #container-dropdown {
        display: block;
    }

}

@media (max-width: 600px){

    .container-zona {
        border: none;
    }

    #container-dropdown {
        display: block;
        width: 90%;
    }

    #img-foot {
        display: none;
    }

    #txt-coordenadoria {
        display: none;
    }

}
