{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'transito/css/style.css' %}">
    <title>Trânsito Leme</title>
</head>

<!--CABEÇALHO-->

    <header>

        <div id="container-img">
            <img id="img-logo" src="/logos/logo-transito.png" alt="Logo">
            <div id="container-brasao">
                <img id="img-brasao" src="/logos/brasao1.png" alt="Brasão">
                <span>Prefeitura do <br> Município de Leme</span>
            </div>
        </div>

        <nav id="container-cabecalho">
        <ul id="lista-cabecalho">
            <li id="item-cabecalho"><a id="link-cabecalho" href="">HOME</a></li>
            <li id="item-cabecalho"><a id="link-cabecalho" href="/sobre/sobre.html">SOBRE</a></li>
            <li id="item-cabecalho"><a id="link-cabecalho" href="/servicos/servicos.html">SERVIÇOS ONLINE</a></li>
            <li id="item-cabecalho"><a id="link-cabecalho" href="/contato/contato.html">CONTATO</a></li>
        </ul>
        </nav>

        <div class="toogle-btn">
            <i class="fa-solid fa-bars" style="color: #191919;"></i>
        </div>

        <nav id="container-dropdown">
            <ul id="lista-dropdown">
                <li id="item-dropdown"><a id="link-dropdown" href="">HOME</a></li>
                <li id="item-dropdown"><a id="link-dropdown" href="">SOBRE</a></li>
                <li id="item-dropdown"><a id="link-dropdown" href="">SERVIÇOS ONLINE</a></li>
                <li id="item-dropdown"><a id="link-dropdown" href="">CONTATO</a></li>
            </ul>
        </nav>

    </header>